<header>
    <div class="logo">
        <img src="~/img/iconGotta2.png" alt="Logo">
        <span>GOTTA</span>
    </div>

    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Sobre">Sobre</a></li>
            <li><a asp-controller="Home" asp-action="Participe">Participe</a></li>
            <li><a asp-controller="Home" asp-action="Login">Login</a></li>
        </ul>
    </nav>
</header>
