@{
    Layout = "_Layout";
    ViewData["Title"] = "Mega";
}

@section Styles {
    <link rel="stylesheet" href="~/css/megastl.css" />
}

<!--MEGA-->

    <h1 class="texto">Jogue</h1>
    <div class="imagem">
<img src="@Url.Content("~/img/BG3D.png")" alt="Drone" />
    </div>

    <div class="vid">
<video>
    <source src="@Url.Content("~/vid/video3.mp4")" type="video/mp4">
</video>
    </div>
        
    </div>