
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #111;
  color: #fff;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(87, 87, 87, 0.7);
  padding: 10px 30px;
  border-radius: 50px;
  margin: 20px auto;
  width: 90%;
  max-width: 1600px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 50px;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

.perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin-left: 20px;
}

.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ccc;
  text-align: center;
  padding: 8px 20px;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
}


.verify-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 60px;
  border-radius: 30px;
  width: 40%;
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.6);
}

.verify-container h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}

.verify-container p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}


.verify-container button,
.verify-container a {
  display: inline-block;
  background: transparent;
  border: 1px solid red;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.verify-container button:hover,
.verify-container a:hover {
  background: red;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.verify-container {
  animation: fadeIn 0.6s ease-in-out;
}


@media (max-width: 768px) {
  .verify-container {
    width: 80%;
    padding: 40px 25px;
  }

  .verify-container h2 {
    font-size: 28px;
  }

  .verify-container p {
    font-size: 16px;
  }
}
