@{
    Layout = "_Layout";
    ViewData["Title"] = "Contato";
}

@section Styles {
    <link rel="stylesheet" href="~/css/contatostl.css" />
}

  <div class="pg">

    <!-- CONTATO -->
  <main>
  <div class="container1" id="contato">

    <div class="formulario">
      <h2>Entre em Contato Conosco</h2>
      <p>
        Nossa equipe está sempre à disposição para esclarecer dúvidas, receber sugestões
        ou ouvir suas ideias. Caso precise falar conosco, utilize um dos canais abaixo.
        Ficaremos felizes em ajudar da melhor forma possível.
      </p>

      <p>
        Trabalhamos para manter um atendimento rápido e eficiente, portanto,
        escolha o meio de contato que achar mais conveniente.
      </p>
    </div>

    <div class="info">
      <p><strong>Telefone</strong><br>(11) 96173-1007</p>

      <p><strong>E-mail</strong><br>
        <a href="mailto:GOTTAadm@gmail.com">GOTTAadm@gmail.com</a><br>
      </p>

      <p>
        <strong>Instagram</strong><br>
        <a href="https://www.instagram.com/seuusuario" target="_blank">
          <img src="@Url.Content("~/img/iconInsta.png")" alt="Instagram" style="width: 32px; height: 32px;">
        </a><br>
        <br>
      </p>
        <span>
          Você pode nos enviar sua dúvida, proposta, sugestão ou qualquer outro assunto.
          Respondemos normalmente em até 24 horas úteis.
        </span>
      <p>
        Nosso objetivo é facilitar a comunicação e garantir que sua experiência com o GOTTA
        seja sempre a melhor possível.
      </p>
    </div>

  </div>
</main>