@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
    ViewData["ShowFooter"] = false; // Footer será oculto
}


@section Styles {
    <link rel="stylesheet" href="~/css/homestl.css" />
}

<section class="hero-section">
    <div class="content-container">
        <h1>Gestão Otimizada de Tecnologia de tratamento Ambiental</h1>
        <p>
            Projeto de monitoramento e controle de incêndios florestais em tempo real, com uso de tecnologias avançadas para detecção precoce, análise de dados ambientais e resposta imediata, contribuindo para a preservação de ecossistemas e a redução de danos ambientais.
        </p>

        <a asp-controller="Home" asp-action="Participe" class="cta-button">Participar</a>
    </div>
</section>

